<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /lemigas-magang/

    # Jika file atau folder benar-benar ada (css, js, uploads, dll), biarkan
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Semua request dialihkan ke index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>